<!DOCTYPE html >
<html xmlns:th= "http://www.thymeleaf.org" xmlns="htttp://www.w3.org/1999/html">
<head>
</head>
<body>
	<div>
		<h4> Album </h4>
		
		Nome: <span th:text="${album.titolo}"> </span>
		
		<br/>Foto:
		<ul>
		<li th:each="foto : ${fotos}">
			<a th:text="${foto.titolo}"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<img th:src="@{${foto.indirizzo}}" width="70px" height="70px">
		</li>
		</ul>

		<br/>
		<br/>
		<form name="cForm" id="cForm" method="get" action="/cercaAlbum" th:if="${utente == 'ADMIN'}">
				<button type="submit" class="half-width">Nuova ricerca</button>
		</form>

		<form name="cForm" id="cForm" method="get" action="/pannelloDiControllo" th:if="${utente == 'ADMIN'}">
			<button type="submit" class="half-width">Torna all'area staff</button>
		</form>
		
		<form name="cForm" id="cForm" method="get" action="/" th:if="${utente != 'ADMIN'}">
			<button type="submit" class="half-width">Torna alla home</button>
		</form>
		
	</div>
</body>
</html>