<!DOCTYPE html >
<html xmlns:th= "http://www.thymeleaf.org" xmlns="htttp://www.w3.org/1999/html">
<head>
</head>
<body>
	<div>
		<h4> Foto </h4>
		
		Titolo: <span th:text="${foto.titolo}"> </span>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<img th:src="@{${foto.indirizzo}}" width="70px" height="70px">

		<br/>
		<br/>		
		
		<form name="cForm" id="cForm" method="get" action="/cercaFoto" th:if="${utente == 'ADMIN'}">
				<button type="submit" class="half-width">Nuova ricerca</button>
		</form>

		<form name="cForm" id="cForm" method="get" action="/pannelloDiControllo" th:if="${utente == 'ADMIN'}">
			<button type="submit" class="half-width">Torna all'area staff</button>
		</form>
		
		<form name="cForm" id="cForm" method="get" action="/" th:if="${utente != 'ADMIN'}">
			<button type="submit" class="half-width">Torna alla home</button>
		</form>
		
	</div>
</body>
</html>