<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="htttp://www.w3.org/1999/html">
<!--<![endif]-->
<head>

<!--- basic page needs
   ================================================== -->
<meta charset="utf-8">
<title>Album</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- mobile specific metas
   ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
   ================================================== -->
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/vendor.css">
<link rel="stylesheet" href="../css/main.css">


<!-- script
   ================================================== -->
<script src="../js/modernizr.js"></script>
<script src="../js/pace.min.js"></script>

<!-- favicons
	================================================== -->
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
<link rel="icon" href="../favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
	<header class="short-header">

		<div class="gradient-block"></div>

		<div class="row header-content">

			<div class="logo">
				<a href="/">Author</a>
			</div>

			<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li><a href="/" title="">Home</a></li>
					<li class="current"><a class="has-children">Categorie</a>
						<ul class="sub-menu">
							<li><a href="/mostraFotos">Foto</a></li>
							<li><a href="/mostraAlbums">Album</a></li>
							<li><a href="/mostraFotografi">Fotografi</a></li>
						</ul></li>
					<li><a href="/mostraCarrello"
						title="">Carrello</a></li>
					<li><a href="/about" title="">About</a></li>
					<li><a href="/pannelloDiControllo" title="">Staff</a></li>
				</ul>
			</nav>



		</div>

	</header>
	<!-- end header -->


	<!-- page header
   ================================================== -->
	<section id="page-header">
		<div class="row current-cat">
			<div class="col-full">
				<h1><font size="30px">Album</font></h1>
				<h3><span th:text="${fotografo.nome} + ' ' +${fotografo.cognome}" th:if="${f == 'EXIST'}"></span></h3>
			</div>
		</div>
	</section>


	<!-- masonry
   ================================================== -->
	 <section id="bricks" class="with-top-sep">

		<div class="row masonry">

			<!-- brick-wrapper -->

			<div class="bricks-wrapper">

				<div th:each="album : ${albums}">
					<div class="grid-sizer"></div>

				<article class="brick entry format-standard animate-this" align="middle">
						<h5 class="entry-title"><font size="4px">
						
								<a
									th:href="@{'/mostraAlbum' + '/' + ${album.id}}"
									th:text="${album.titolo} + ' - ' +${album.fotografo.nome} + ' ' +${album.fotografo.cognome}"
									th:if="${utente != 'ADMIN' && f != 'EXIST'}" >
								</a> 
								<a
									th:href="@{'/mostraAlbumAdmin' + '/' + ${album.id}}"
									th:text="${album.titolo} + ' - ' +${album.fotografo.nome} + ' ' +${album.fotografo.cognome}"
									th:if="${utente == 'ADMIN' && f != 'EXIST'}">
								</a>
								<a
									th:href="@{'/mostraAlbum' + '/' + ${album.id}}"
									th:text="${album.titolo}"
									th:if="${utente != 'ADMIN' && f == 'EXIST'}">
								</a> 
								<a
									th:href="@{'/mostraAlbumAdmin' + '/' + ${album.id}}"
									th:text="${album.titolo}"
									th:if="${utente == 'ADMIN' && f == 'EXIST'}">
								</a>
						</font></h5>
						</article>
				</div>
			</div>
		</div>
	</section>
	
		<!-- PULSANTE INDIETRO -->
	<article class="brick entry format-standard animate-this">
	<div class="row" align="middle">
		<form name="cForm" id="cForm" th:action="@{/}" method="post"
			th:object="${home}">
			<button type="submit" class="half-widht">Indietro</button>
		</form>
	</div>
	</article>
	

	<!-- START BOTTOM FOOTER -->
	<footer>
		<div class="footer-bottom">
			<div class="row">

				<div class="col-twelve">

					<div id="go-top">
						<a class="smoothscroll" title="Back to Top" href="#top"><i
							class="icon icon-arrow-up"></i></a>
					</div>
				</div>

			</div>
		</div>
		<!-- end footer-bottom -->

	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="../js/jquery-2.1.3.min.js"></script>
	<script src="../js/plugins.js"></script>
	<script src="../js/main.js"></script>

</body>

</html>