<!DOCTYPE html >
<html xmlns:th= "http://www.thymeleaf.org" xmlns="htttp://www.w3.org/1999/html">
<head>
</head>
<body>
	<div>
		<h4> Album </h4>
		
		Nome: <span th:text="${album.titolo}"> </span>
		
		<br/>Foto:
		<ul>
		<li th:each="foto : ${fotos}">
			<a th:href="@{'/mostraAlbum' + '/' + ${album.id}}" 
				th:text="${foto.titolo} + ' ' +${album.indirizzo}"></a>
		</li>
		</ul>

		<br/>
		<br/>
		<form name="cForm" id="cForm" method="get" action="/cercaAlbum">
				<button type="submit" class="half-width">Nuova ricerca</button>
		</form>

		<form name="cForm" id="cForm" method="get" action="/pannelloDiControllo">
			<button type="submit" class="half-width">Torna all'area staff</button>
		</form>
		
	</div>
</body>
</html>