<!DOCTYPE html >
<html xmlns:th= "http://www.thymeleaf.org" xmlns="htttp://www.w3.org/1999/html">
<head>
</head>
<body>
	<div>
		<h4> Foto </h4>
		
		Titolo: <span th:text="${foto.titolo}"> </span>
		IndirizzoUrl: <span th:text="${foto.indirizzo}"></span>

		<br/>
		<br/>
		<form name="cForm" id="cForm" method="get" action="/cercaFoto">
				<button type="submit" class="half-width">Nuova ricerca</button>
		</form>

		<form name="cForm" id="cForm" method="get" action="/pannelloDiControllo">
			<button type="submit" class="half-width">Torna all'area staff</button>
		</form>
		
	</div>
</body>
</html>